:root {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: var(--color-text);
  background-color: var(--color-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-bg: #272323;
  --color-text: #fafafa;
  --color-main: #a51919;
  --color-main-dark: #8d1414;

  --padding-default: 1em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

button {
  padding: 0.5em;

  background-color: var(--color-main);
  color: var(--color-text);
  border: none;
  border-radius: 8px;
}
button:hover {
  cursor: pointer;
}
button:focus {
  outline: none;
}
